// List of colors for event elements
// "color" backround, border, outline, color
$event-colors: 'blue' $electric-blue-100 $electric-blue-700 $electric-blue-500
    $electric-blue-900,
  'lightblue' $electric-lightblue-100 $electric-lightblue-700
    $electric-lightblue-500 $electric-lightblue-900,
  'violet' $electric-violet-100 $electric-violet-700 $electric-violet-500
    $electric-violet-900,
  'pink' $electric-pink-100 $electric-pink-700 $electric-pink-500
    $electric-pink-900,
  'red' $electric-red-100 $electric-red-700 $electric-red-500 $electric-red-900,
  'orange' $electric-orange-100 $electric-orange-700 $electric-orange-500
    $electric-orange-900,
  'yellow' $electric-yellow-100 $electric-yellow-700 $electric-yellow-500
    $electric-yellow-900;

// Create class color
@each $color, $event-bg, $event-border, $event-outline,
  $event-color in $event-colors
{
  .rbc-event.event-#{$color} {
    background-color: $event-bg;
    color: $event-color;

    &.rbc-selected {
      background-color: darken($event-bg, 10%);
    }

    &:focus {
      outline: 5px auto $event-outline;
    }
  }

  .rbc-day-slot {
    .rbc-event.event-#{$color} {
      border: 1px solid $event-border;
    }
  }
}
