@use 'sass:color';

$out-of-range-color: $electric-green-500;
$out-of-range-bg-color: $electric-green-900;

$calendar-border: $electric-green-700;
$cell-border: $electric-green-700;

$border-color: $electric-green-700;

// Each calendar segment is 1/7th.
$segment-width: 0.14286% !default;

$time-selection-color: $electric-green-100;
$time-selection-bg-color: color.adjust($electric-green-300, $alpha: -0.5);
$date-selection-bg-color: color.adjust($electric-green-300, $alpha: -0.7);

$event-bg: $electric-green-100;
$event-border: $electric-green-700;
$event-outline: $electric-green-500;
$event-color: $electric-green-900;
$event-border-radius: 5px !default;
$event-padding: 2px 5px !default;
$event-zindex: 4 !default;

$btn-color: $electric-green-600;
$btn-bg: $electric-green-100;
$btn-border: $electric-green-700;

$current-time-color: $electric-green-200;

$rbc-css-prefix: rbc-i !default;

$today-highlight-bg: $electric-green-600;
