@import './variables';
@import 'react-big-calendar/lib/sass/styles';

.rbc-header {
  font-weight: normal;
  font-size: large;
}

.rbc-toolbar-label {
  font-size: larger;
}

.rbc-time-view .rbc-time-header-cell .rbc-header {
  padding-bottom: 10px;
}

// Override unconfigurable color style
.rbc-time-view-resources {
  .rbc-time-gutter,
  .rbc-time-header-gutter {
    background-color: transparent;
  }
}

.rbc-show-more {
  background-color: transparent;
}

.rbc-overlay {
  background: black radial-gradient($electric-green-900 20%, transparent);
  border-color: $electric-green-700;
}

.rbc-overlay-header {
  border-color: $electric-green-700;
}

@import './event';
