$electric-green-100: #21fc0d;
$electric-green-200: #13dc19;
$electric-green-300: #07bd1d;
$electric-green-400: #039f1e;
$electric-green-500: #04821c;
$electric-green-600: #076519;
$electric-green-700: #094a14;
$electric-green-800: #09310e;
$electric-green-900: #031a01;

$electric-lightblue-100: #00d8ff;
$electric-lightblue-200: #04bdde;
$electric-lightblue-300: #07a3bf;
$electric-lightblue-400: #0889a0;
$electric-lightblue-500: #097083;
$electric-lightblue-600: #095867;
$electric-lightblue-700: #07414c;
$electric-lightblue-800: #062c33;
$electric-lightblue-900: #00181c;

$electric-blue-100: #0b24fb;
$electric-blue-200: #0028e0;
$electric-blue-300: #0028c4;
$electric-blue-400: #0026a8;
$electric-blue-500: #00238d;
$electric-blue-600: #001e71;
$electric-blue-700: #001856;
$electric-blue-800: #00123c;
$electric-blue-900: #020623;

$electric-violet-100: #8f00ff;
$electric-violet-200: #7d0cdf;
$electric-violet-300: #6b11c0;
$electric-violet-400: #5b13a2;
$electric-violet-500: #4b1385;
$electric-violet-600: #3b1268;
$electric-violet-700: #2d0f4d;
$electric-violet-800: #1f0c34;
$electric-violet-900: #13001c;

$electric-pink-100: #ff00e1;
$electric-pink-200: #dd12c6;
$electric-pink-300: #bb19aa;
$electric-pink-400: #9c1a90;
$electric-pink-500: #7d1a75;
$electric-pink-600: #61175c;
$electric-pink-700: #461343;
$electric-pink-800: #2c0e2b;
$electric-pink-900: #170015;

$electric-red-100: #ff0000;
$electric-red-200: #e3000f;
$electric-red-300: #c60016;
$electric-red-400: #a90018;
$electric-red-500: #8d0018;
$electric-red-600: #710116;
$electric-red-700: #550513;
$electric-red-800: #3b060c;
$electric-red-900: #250000;

$electric-orange-100: #ff3503;
$electric-orange-200: #e12e0d;
$electric-orange-300: #c42811;
$electric-orange-400: #a62313;
$electric-orange-500: #8a1e13;
$electric-orange-600: #6e1a11;
$electric-orange-700: #53150f;
$electric-orange-800: #3a1009;
$electric-orange-900: #230800;

$electric-yellow-100: #d0ff00;
$electric-yellow-200: #b5e00b;
$electric-yellow-300: #9bc111;
$electric-yellow-400: #83a313;
$electric-yellow-500: #6b8612;
$electric-yellow-600: #546b11;
$electric-yellow-700: #3f500e;
$electric-yellow-800: #2b370a;
$electric-yellow-900: #1a1f00;
