$electric-green-100: #21fc0d;
$electric-green-200: #13dc19;
$electric-green-300: #07bd1d;
$electric-green-400: #039f1e;
$electric-green-500: #04821c;
$electric-green-600: #076519;
$electric-green-700: #094a14;
$electric-green-800: #09310e;
$electric-green-900: #031a01;
